In [141]:
import geopy.distance
import json

In [8]:
import geocoder

In [121]:
import pandas as pd

In [122]:
data = pd.read_csv('dist1.csv', header=None)

In [123]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Road Distance of Major Cities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Distance in Kilometres,Ahmedabad,Bangalore,Bhubaneshwar,Bombay,Calcutta,Chandigarh,Cochin,Delhi,Hyderabad,...,Jaipur,Kanpur,Lucknow,Madras,Nagpur,Nasik,Panjim,Patna,Pondicherry,Pune
2,Agartala,3305,3824,2286,3593,1863,2998,4304,2708,3330,...,2801,2281,2252,3493,2696,3365,3507,1681,3661,3442
3,Agra,878,1848,1578,1202,1300,448,2278,200,1246,...,230,290,369,2048,770,1005,1715,885,2210,1214
4,Ahmedabad,-,1490,1697,552,2068,1157,1845,911,1436,...,648,1168,1247,1821,965,504,1165,1656,1818,664

In [124]:
data = data.drop(labels=0, axis=0)

In [125]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
1,Distance in Kilometres,Ahmedabad,Bangalore,Bhubaneshwar,Bombay,Calcutta,Chandigarh,Cochin,Delhi,Hyderabad,...,Jaipur,Kanpur,Lucknow,Madras,Nagpur,Nasik,Panjim,Patna,Pondicherry,Pune
2,Agartala,3305,3824,2286,3593,1863,2998,4304,2708,3330,...,2801,2281,2252,3493,2696,3365,3507,1681,3661,3442
3,Agra,878,1848,1578,1202,1300,448,2278,200,1246,...,230,290,369,2048,770,1005,1715,885,2210,1214
4,Ahmedabad,-,1490,1697,552,2068,1157,1845,911,1436,...,648,1168,1247,1821,965,504,1165,1656,1818,664
5,Allahabad,1251,1686,1090,1457,817,912,2216,650,1084,...,713,193,234,2011,608,1155,1419,402,1077,1364

In [126]:
row0 = data.iloc[0, :]

In [127]:
col0 = data.iloc[:, 0]

In [129]:
places = set()

In [130]:
for i in row0:
    if i != 'Distance in Kilometres':
        places.add(i)
for i in col0:
    if i != 'Distance in Kilometres':
        places.add(i)

In [131]:
len(places)

(47, 0)

In [133]:
places = list(places)

In [134]:
placeDetails = dict()

In [135]:
for i in places:
    placeDetails[str(i)] = {}
    g = geocoder.bing(str(i), key='XXXX')
    res = g.json
    placeDetails[str(i)]['lat'] = res['lat']
    placeDetails[str(i)]['lng'] = res['lng']

In [136]:
placeDetails

{'Baroda': {'lat': 22.31119537, 'lng': 73.18198395},
 'Calcutta': {'lat': 22.56557274, 'lng': 88.37021637},
 'Bombay': {'lat': 18.96904755, 'lng': 72.82118225},
 'Vishakapatnam': {'lat': 17.73463249, 'lng': 83.2729187},
 'Bangalore': {'lat': 12.97674656, 'lng': 77.57527924},
 'Cochin': {'lat': 9.95761681, 'lng': 76.25115204},
 'Ludhiana': {'lat': 30.90077972, 'lng': 75.77213287},
 'Shimla': {'lat': 31.09685707, 'lng': 77.13426208},
 'Patna': {'lat': 25.54798698, 'lng': 85.07231903},
 'Meerut': {'lat': 28.97919083, 'lng': 77.69818878},
 'Pondicherry': {'lat': 11.93410683, 'lng': 79.8080368},
 'Ahmedabad': {'lat': 23.0145092, 'lng': 72.59175873},
 'Ranchi': {'lat': 23.36990356, 'lng': 85.32527924},
 'Hubli': {'lat': 15.35140038, 'lng': 75.14759827},
 'Shillong': {'lat': 25.58547783, 'lng': 91.89604187},
 'Delhi': {'lat': 28.64339066, 'lng': 77.11547852},
 'Chandigarh': {'lat': 30.73335075, 'lng': 76.77903748},
 'Agra': {'lat': 27.16772461, 'lng': 78.03588867},
 'Agartala': {'lat': 23.83382034, 'lng': 91.28242493},
 'Coimbatore': {'lat': 11.01600933, 'lng': 76.9703064},
 'Panjim': {'lat': 15.48334026, 'lng': 73.82233429},
 'Vijayawada': {'lat': 16.50940323, 'lng': 80.62503815},
 'Allahabad': {'lat': 25.42911911, 'lng': 81.85462952},
 'Madras': {'lat': 13.06695557, 'lng': 80.16930389},
 'Lucknow': {'lat': 26.85000038, 'lng': 80.94999695},
 'Imphal': {'lat': 24.80215263, 'lng': 93.93862152},
 'Asansol': {'lat': 23.69303513, 'lng': 86.95310974},
 'Madurai': {'lat': 9.92012882, 'lng': 78.11087799},
 'Nagpur': {'lat': 21.15261841, 'lng': 79.0881958},
 'Hyderabad': {'lat': 17.36599922, 'lng': 78.47599792},
 'Pune': {'lat': 18.52890396, 'lng': 73.8743515},
 'Bhubaneshwar': {'lat': 20.27000046, 'lng': 85.83999634},
 'Trivandrum': {'lat': 8.53037357, 'lng': 76.9295578},
 'Calicut': {'lat': 11.25879955, 'lng': 75.78074646},
 'Jullundur': {'lat': 31.55549622, 'lng': 75.64493561},
 'Varanasi': {'lat': 25.30969238, 'lng': 83.00567627},
 'Surat': {'lat': 21.20350838, 'lng': 72.83922577},
 'Kolhapur': {'lat': 16.69166946, 'lng': 74.23332977},
 'Jamshedpur': {'lat': 22.76867485, 'lng': 86.19878387},
 'Indore': {'lat': 22.71867371, 'lng': 75.85571289},
 'Jabalpur': {'lat': 23.16571045, 'lng': 79.93235779},
 'Amritsar': {'lat': 31.6378479, 'lng': 74.86791229},
 'Jaipur': {'lat': 26.92103958, 'lng': 75.7943573},
 'Bhopal': {'lat': 23.13952637, 'lng': 77.40857697},
 'Gwalior': {'lat': 26.21999931, 'lng': 78.16999817},
 'Nasik': {'lat': 20.05602264, 'lng': 73.64289093},
 'Kanpur': {'lat': 26.33968735, 'lng': 80.29293823}}

In [138]:
with open("placeData.json", 'w') as f:
    json.dump(placeDetails, f)

In [148]:
finalData = set()

In [149]:
for i in placeDetails:
    for j in placeDetails:
        currData = (str(i), str(j), int(geopy.distance.geodesic((placeDetails[i]['lat'], placeDetails[i]['lng']), (placeDetails[j]['lat'], placeDetails[j]['lng'])).km))
        finalData.add(currData)

In [152]:
finalData = list(finalData)

In [154]:
for i in range(len(finalData)):
    finalData[i] = list(finalData[i])

In [158]:
heuristics = pd.DataFrame(finalData, columns=['City1', 'City2', 'Distance'])

In [161]:
heuristics.to_csv('heuristics.csv', index=False)